body{
    background-color: whitesmoke;
}

.nav-item{
    padding: 0 18px;
}

.sign-button{
    border-radius: 25px;
    padding: 0 30px;
}
#title h1{
    font-family: 'Kanit', sans-serif;
    font-weight:bold;
    font-size: 50px;
}
.lg-button{
    margin: 25px 0;
    border-radius: 25px;
    padding: 5px 30px;
}
#title{
    background-color: #e6f5e6;
    padding-bottom: 30px;
}

.title-image{
    width: 95%;
    height: 90%;
}

/* Features Section  */

.feature-card{
    padding: 80px 0;
}
.card-1, .card-3{
    background-color: #e6f5e6;
}

.card-2, .card-4{
    box-shadow: 0 0 35px lightgray;
}
.card{
    border: none;
    border-radius: 10px;
}
.feature-card-img{
    width: 30%;
    height: 30%;
    padding: 30px 0;
}
#features h4{
    font-weight: bold;
}

/* Online Courses Cards Section  */

small{
    font-weight: bold;
    color: lightslategrey;
}

.enroll-button{
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 20px;
}

.enroll-button:hover{
    background-color: red;
    color: white;
}

#online-courses .card-deck{
    margin-bottom: 50px;
}

.courses-card{
    box-shadow: 0 0 35px lightgrey;
}

.courses-card:hover{
    box-shadow: 0 0 35px lightpink;
}

/* Testimonial Section  */
.carousel-item{
    padding: 10% 20%;
}
.carousel-img{
    width: 20%;
    border-radius: 100%;
}
em{
    margin: 35px 0 0 75px;
}
h1{
    font-weight: bold;
    padding-top: 35px;
}
.carousel-control-prev,   
.carousel-control-next
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #218838;
    top: calc(50% - 25px);
}
.carousel-control-prev{
    left: 5%;
}
